@using EcoDriving.Resources
@model EcoDriving.Models.PeopleViewModel

@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/amcharts.js")"></script>
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/serial.js")"></script>
}

<h2>Charts</h2>

@section scripts { 
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Home/Coursants/List", function (data) {
                var items = "<option>---------------------</option>";
                $.each(data, function (i, coursant) {
                    items += "<option value='" + coursant.Value + "'>" + coursant.Text + "</option>";
                });
                $("#Coursants").html(items);
            });

            $("#Coursants").change(function () {

                $.getJSON("/Home/Drives/List/" + $("#Coursants > option:selected").attr("value"), function (data) {
                    var items = "<option>---------------------</option>";
                    $.each(data, function (i, drive) {
                        items += "<option value='" + drive.Value + "'>" + drive.Text + "</option>";
                    });
                    $("#Drives").html(items);
                });
            });

            $("#Drives").change(function () {

                $.getJSON("/Home/Drives/Selected/" + $("#Coursants > option:selected").attr("value") +"/" + $("#Drives > option:selected").attr("value"), function (data) {
                    var items = "<option>---------------------</option>";
                    $.each(data, function (i, drive) {
                        items += "<option value='" + drive.Value + "'>" + drive.Text + "</option>";
                    });
                    $("#Drives").html(items);
                });
            });
        });      
    </script>
    <script>$.post('Dupa', { id: '1', driveNum: '2' }, function (data) {

});</script>
}


    @using (Html.BeginForm())
{
    <label for="Coursants">Wybierz Kursanta</label>
    <select id="Coursants" name="Coursants" class="ui-selectable"></select>
    <br /><br />
    <label for="Drives">Wybierz Przejazd</label>
    <select id="Drives" name="Drives" class="ui-selectable"></select>
    <br /><br />
}

    @using (Html.BeginForm("Charts", "Home", FormMethod.Post))
{
    
    <input type="submit" class="ui-button" name="Analyze" value="@Translations.Analyze" />

    }
    @{
    <script>
    </script>
}

@*@if (!string.IsNullOrEmpty(Model.Analyze))
{
    Html.ActionLink(Translations.Choose, "PeopleChoose", new {id = @Model.Id, driveNum = Model.DriveNumber});
}*@


