@model EcoDriving.Models.HomeModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/amcharts.js")"></script>
   <script type="text/javascript" src="@Url.Content("/amcharts/amcharts/serial.js")"></script>
}

<h2>Home</h2>
<h3>Witaj na stronie głownej, przejdź do zakładki "Kursanci" aby wybrać kursanta i rozpocząć analizę. <br/>Pozdrawiam Chmua!</h3>