@model JavascriptShowdown.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (@Model.Id == 2)
    {
        @Html.Raw("<span>Siema</span>");
    }
}

<h2>Index</h2>
